# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Environment variables — NE JAMAIS COMMITTER
.env
.env

# Prisma
/app/generated/prisma
prisma/dev.db
prisma/dev.db-journal

# Misc
.DS_Store
*.pem
npm-debug.log*
.vercel
